In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
# Id cargando todos los ficheros en vuestro jupyter.
# Si os da error leer el pickle será por la versión de pandas. Podéis guardar el csv como pickle y 
# cargarlo de ahí.

In [15]:
# fichero quejas.csv
# cómo nos daba error al ejectutar "UnicodeDecodeError: 'utf-8' codec can't decode byte 0xf3 in position 170:
# invalid continuation byte", buscando en internet, hemos intentado con 'encoding:latin-1', 'encoding:ISO-8859-1' 
# y por posibles errores en la lectura de caracteres 'sep = ;'. (1º intento en cell siguiente)
# de 
df_csv = pd.read_csv("datos-mod-2/quejas.csv", sep = ";", encoding = "ISO-8859-1")
df_csv.head(2)

,tipo,estado,canal_entrada,fecha_entrada,fecha_contestacion,consejeria,unidad_descripcion,tema,subtema
0,Queja,Recepcionada por Unidad,INTERNET,2022-01-28 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
1,Queja,Recepcionada por Unidad,INTERNET,2022-03-28 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN

In [7]:
# fichero quejas.csv
df_csv = pd.read_csv("datos-mod-2/quejas.csv")
df_csv.head(2)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xed in position 170: invalid continuation byte

In [ ]:
# fichero quejas.json
df_json = pd.read_json('datos-mod-2/quejas.json')
df_json.head(4)

                                                data
0  {'unidad_descripcion': 'D.G. de Descarbonizaci...
1  {'unidad_descripcion': 'D.G. de Descarbonizaci...
2  {'unidad_descripcion': 'D.G. de Descarbonizaci...
3  {'unidad_descripcion': 'D.G. de Descarbonizaci...

In [ ]:
# fichero quejas2.xlsx
df_xlsx = pd.read_excel('datos-mod-2/quejas2.xlsx')
df_xlsx.head(3)

        DESCRIPCION_TEMA                                DESCRIPCION_SUBTEMA
0  ATENCIÓN AL CIUDADANO                         ADMINISTRACIÓN ELECTRÓNICA
1  ATENCIÓN AL CIUDADANO                                    FUNCIÓN PÚBLICA
2  ATENCIÓN AL CIUDADANO  OFICINAS DE ATENCIÓN AL CIUDADANO DE LA COMUNI...

In [ ]:
df_size = 10000

df = pd.DataFrame({
    'a': np.random.rand(df_size),
    'b': np.random.rand(df_size),
    'c': np.random.rand(df_size),
    'd': np.random.rand(df_size),
    'e': np.random.rand(df_size)
})

In [ ]:
df.head()

          a         b         c         d         e
0  0.161266  0.793992  0.044440  0.326423  0.515710
1  0.074122  0.568584  0.537567  0.926347  0.187354
2  0.337129  0.722286  0.390445  0.255191  0.218633
3  0.739687  0.313109  0.128259  0.453577  0.284649
4  0.696928  0.445074  0.583794  0.942229  0.528338

In [ ]:
%time

with open('datos-mod-2/algas.pickle', 'wb') as f:
    pickle.dump(df, f)

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 12.2 µs

In [ ]:
%time
algas_data = df.to_csv('datos-mod-2/algas.pickle.cvs')

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 12.9 µs

In [ ]:
# fichero algas.pickle
df_csv_algas = pd.read_csv("datos-mod-2/algas.pickle.cvs")
df_csv_algas.head(3)

   Unnamed: 0         a         b         c         d         e
0           0  0.161266  0.793992  0.044440  0.326423  0.515710
1           1  0.074122  0.568584  0.537567  0.926347  0.187354
2           2  0.337129  0.722286  0.390445  0.255191  0.218633

In [ ]:
# Para poner el práctica el read_clipboard elegir alguna tabla que os podaís encontrar en google y 
# usad dicho método para traer los datos al jupyter notebook. Una vez que los hayáis cargado, guardad 
# esos datos en los siguientes formatos:
        # csv
        # excel
        # json
        # pickle

In [ ]:

df_clipboard = pd.read_clipboard()
df_clipboard

,Para,poner,el,práctica,el.1,read_clipboard,elegir,alguna,tabla,que,...,los.1,hayáis,"cargado,",guardad,esos,datos.1,en.1,los.2,siguientes,formatos:
0,csv,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,excel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,json,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,pickle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_clipboard.to_csv('datos/clipboards/clipboard.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'datos/clipboards/clipboard.csv'