In [8]:
import pandas as pd
import numpy as np

In [9]:
df=pd.read_csv('ataques.csv')

In [10]:
df.head()
df.shape

(6114, 16)

In [11]:
df_limpio= df.dropna()

¿Cuántas filas se han eliminado con esta línea de código?

In [12]:
df_limpio.shape 
#se han eliminado 4612 filas

(1502, 16)

¿Cuál es el número de ataques que se han producido en Estados Unidos?

In [13]:
df_limpio.columns
#comprobamos como se llama la col que buscamos y es country

Index(['Unnamed: 0', 'unnamed:_0', 'case_number', 'year', 'type', 'country',
       'area', 'location', 'activity', 'name', 'sex_', 'age', 'time',
       'species_', 'href', 'case_number.2'],
      dtype='object')

In [14]:
df_limpio.head()
df_limpio['country'].unique()
#comprobamos cómo esta escrito el pais que buscamos y es USA

array(['USA', 'BRAZIL', 'AUSTRALIA', 'ENGLAND', 'COSTA RICA', 'MALDIVES',
       'SOUTH AFRICA', 'CUBA', 'SPAIN', 'BAHAMAS', 'INDONESIA', 'EGYPT',
       'NEW ZEALAND', 'FRENCH POLYNESIA', 'NEW CALEDONIA', 'ECUADOR',
       'THAILAND', 'REUNION', 'MEXICO', 'JAMAICA', 'ITALY',
       'PAPUA NEW GUINEA', 'RUSSIA', 'SEYCHELLES', 'VIETNAM', 'GUAM',
       'MOZAMBIQUE', 'SCOTLAND', 'UNITED KINGDOM', 'TAIWAN', 'CROATIA',
       'FIJI', 'TONGA', 'ST. MAARTIN', 'GRAND CAYMAN', 'VANUATU',
       'VENEZUELA', 'TURKS & CAICOS', 'OKINAWA', 'MARSHALL ISLANDS',
       'MAURITIUS', 'HONG KONG', 'JAPAN', 'SOUTH KOREA', 'ISRAEL',
       'MICRONESIA', 'COLUMBIA', 'NEW BRITAIN', 'PALAU',
       'SOLOMON ISLANDS', 'FEDERATED STATES OF MICRONESIA', 'GREECE',
       'BRITISH WEST INDIES', 'NORTH PACIFIC OCEAN', 'BERMUDA',
       'PHILIPPINES', 'AMERICAN SAMOA', 'PACIFIC OCEAN', 'SENEGAL',
       'ARGENTINA', 'EL SALVADOR', 'IRAQ', 'PANAMA', 'INDIA'],
      dtype=object)

In [15]:
#hacemos un filtro para q nos muestre solo lo de USA y con un shape vemos cuantos registros/casos hay
ataques_usa = df_limpio[df_limpio['country']=='USA']
ataques_usa.shape
#se han producido 719 ataques en USA

(719, 16)

Y en España?
3.1 ¿En qué regiones se han producido los ataques (columna location) ?
3.2 ¿Cuántos ataques se han producido en cada área (columna area?

In [16]:
ataques_spain = df_limpio[df_limpio['country']=='SPAIN']
ataques_spain.shape
#se han producido 5 ataques en España

(5, 16)

In [17]:
ataques_spain['location'].unique()
#sobre la tabla de spain filtramos por la localizacion para ver las regiones donde hubo ataques

array(['Grao de Moncofa', 'Arenales del Sol', 'Poniente Beach, Benidorm',
       'Sardina del Norte, Gáldar', 'Playa de las Arenas, Valencia '],
      dtype=object)

In [18]:
ataques_spain.head(1)

,Unnamed: 0,unnamed:_0,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,case_number.2
98,98,98,2017.08.26.b,2017.0,Invalid,SPAIN,Castellón,Grao de Moncofa,Swimming,female,F,11,Midday,Shark involvement questionable,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.08.26.b

In [19]:
#contamos los valores de cada area de españa para ver cuantos ataques se han producido en casa area
ataques_spain['area'].value_counts()

Castellón              1
Alicante Province      1
Alicante               1
Grand Canary Island    1
Costa Blanca           1
Name: area, dtype: int64

4. Extraed un DataFrame nuevo con los ataques que se han producido en Australia y Estados Unidos. 📌 Nota Este ejercicio se puede resolver usando dos condiciones de filtrado o usando el método isin(). Hacedlo con ambas herramientas.

In [20]:
df_paises= df_limpio[df_limpio['country'].isin (['AUSTRALIA','USA'])]
df_paises.head(1)

,Unnamed: 0,unnamed:_0,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,case_number.2
0,0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25

In [21]:
filtro1 = df_limpio[(df_limpio['country']=='USA') | (df_limpio['country']=='AUSTRALIA')]
filtro1.head(1)

,Unnamed: 0,unnamed:_0,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,case_number.2
0,0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25

4.1 ¿Cuántos ataques se han producido en cada país?

In [24]:
df_usa= df_limpio[df_limpio['country'].isin (['USA'])]
df_usa.shape
#se han producido 719 ataques

(719, 16)

In [25]:
#lo comprobamos tambien usando los values_count
casos_usa= df_usa['case_number'].value_counts() 
casos_usa
#en usa ha habido 719 ataques

2018.06.25      1
1994.09.05      1
1996.01.16      1
1995.10.01      1
1995.09.30.b    1
               ..
2007.05.10      1
2007.05.07.b    1
2007.05.07.a    1
2007.04.22      1
1916.07.01      1
Name: case_number, Length: 719, dtype: int64

In [26]:
ataques_australia = df_limpio[df_limpio['country']=='AUSTRALIA']
ataques_australia.shape

#en Australia ha habido 324 ataques

(324, 16)

In [27]:
#hecho con value counts
casos_australia= ataques_australia['country'].value_counts() 
casos_australia

AUSTRALIA    324
Name: country, dtype: int64

4.2 ¿Ha habido ataques en Australia a gente que estuviera remando (lo encontrareis como Paddling en el DataFrame en la columna activity)?

In [20]:
filtro_paddle = ataques_australia[ataques_australia['activity']=='Paddling']
filtro_paddle.head()
#no ha habido ataques haciendo Paddling

Empty DataFrame
Columns: [Unnamed: 0, unnamed:_0, case_number, year, type, country, area, location, activity, name, sex_, age, time, species_, href, case_number.2]
Index: []

In [21]:
#lo comprobamos por otro camino y el resultado es el mismo
df_limpio[(df_limpio['country']=='AUSTRALIA') & (df_limpio['activity']=='Paddling')]

Empty DataFrame
Columns: [Unnamed: 0, unnamed:_0, case_number, year, type, country, area, location, activity, name, sex_, age, time, species_, href, case_number.2]
Index: []

4.3 ¿Cuántos ataques se han producido en Australia antes del 2000?

4.4 ¿Y después del 2000?

In [22]:
antes_2000= ataques_australia[ataques_australia['year']<2000]
antes_2000.shape
#se han producido en Australia 151 ataques antes del año 2000

(151, 16)

In [23]:
despues_2000= ataques_australia[ataques_australia['year']>=2000]
despues_2000.shape
#se han producido en Australia 173 después del año 2000

(173, 16)

5. Extraed unicamente los ataques a mujeres.

In [28]:
ataques_mujeres=df_limpio [df_limpio['sex_']=='F']
ataques_mujeres.head(2)

,Unnamed: 0,unnamed:_0,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,case_number.2
0,0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25
40,40,40,2018.02.23,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Little Congwong Beach, La Perouse",Swimming,Anna Shurapey,F,55,"19h00, Dusk","Juvenile white shark, 2.7 to 3.2 m",http://sharkattackfile.net/spreadsheets/pdf_di...,2018.02.23

6. ¿Cuántas mujeres fueron atacadas en España?

In [32]:
#1 mujer atacada en España
atacadas_spain= ataques_mujeres[ataques_mujeres['country']=='SPAIN']
atacadas_spain.shape

(1, 16)

In [ ]:
7. Extraed los ataques que se hayan producido en el año 2000, 1997 y 2006. Utilizad el método isin() para resolver este ejercicio.

In [33]:
df_años= df_limpio[df_limpio['year'].isin ([1997,2000,2006])]
df_años.shape
#92 ataques

(92, 16)

8. Si extraemos los valores únicos de la columna species nos podemos dar cuenta que está un poco sucia y extraer informacion útil de la misma se puede convertir en algo difícil. En este ejercicio tendréis que extraer los ataques que han ocurrido por tiburón blanco (lo encontraremos en la columna species como algo que contenga white o White). Usad el método str.contains() para resolver este ejercicio.

In [34]:
patron = '(white|White)'

df_blanco= df_limpio[df_limpio['species_'].str.contains( patron , regex=True)]
df_blanco.head(2)
df_blanco.shape
#379 ataques de tiburon blanco

/tmp/ipykernel_15196/2364476895.py:3: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  df_blanco= df_limpio[df_limpio['species_'].str.contains( patron , regex=True)]

(379, 16)

9. Extraed ahora los ataques por tiburón blanco o tigre. Utilizad el método str.contains() para resolver este ejercicio.

In [28]:
#9. Extraed ahora los ataques por tiburón blanco o tigre. Utilizad el método str.contains() para resolver este ejercicio.

patron2 = '(tiger|Tiger)'

df_tigre_blanco= df[(df['species_'].str.contains (patron, regex=True)) & (df['species_'].str.contains (patron2, regex=True))]
df_tigre_blanco.shape
#2 ataques

/tmp/ipykernel_2333/3747251616.py:5: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  df_tigre_blanco= df[(df['species_'].str.contains (patron, regex=True)) & (df['species_'].str.contains (patron2, regex=True))]

(2, 16)



10. Utilizando la columna de year cread una nueva columna llamada siglo que tiene siglo-XX o siglo-XXI. Donde el año sea menor que 2000 pondremos siglo-XX y el resto de los años siglo-XXI.

In [35]:


df_limpio["siglo"] = np.where(df_limpio["year"]< 2000,"SigloXX","SigloXXI")  
df_limpio.sample(5)

/tmp/ipykernel_15196/2148748185.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_limpio["siglo"] = np.where(df_limpio["year"]< 2000,"SigloXX","SigloXXI")

,Unnamed: 0,unnamed:_0,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,case_number.2,siglo
1376,1376,1381,2007.05.08,2007.0,Invalid,AUSTRALIA,New South Wales,Kingscliff Beach,Swimming,male,M,45,12h15,Shark involvement prior to death was not confi...,http://sharkattackfile.net/spreadsheets/pdf_di...,2007.05.08,SigloXXI
1684,1684,1691,2004.03.16,2004.0,Unprovoked,USA,Hawaii,"Kalihiwai Beach, Kauai",Surfing,Bruce Orth,M,51,07h45,"Tiger shark, 2.4 m to 3 m [8' to 10']",http://sharkattackfile.net/spreadsheets/pdf_di...,2004.03.16,SigloXXI
1539,1539,1545,2005.09.24,2005.0,Unprovoked,AUSTRALIA,South Australia,Kangaroo Island,Surfing,Josh Berris,M,26,12h05,14' to 16' white shark,http://sharkattackfile.net/spreadsheets/pdf_di...,2005.09.24,SigloXXI
2264,2264,2271,1996.11.29.a,1996.0,Unprovoked,USA,California,"Salmon Creek Beach, Sonoma County",Surfing,Greg Ferry,M,45,08h30,3 m to 5 m [10' to 16.5'] white shark,http://sharkattackfile.net/spreadsheets/pdf_di...,1996.11.29.a,SigloXX
3323,3323,3333,1972.05.28,1972.0,Unprovoked,USA,California,"Bird Rock, near Tomales Point, Marin County",Free diving for abalone,Helmut Himmrich,M,32,13h30,"White shark, 4.4 m to 5 m [14.5' to 16.5']",http://sharkattackfile.net/spreadsheets/pdf_di...,1972.05.28,SigloXX

11. Guardad como un archivo csv nuevo. Lo usaremos en el pair programming de mañana.

In [36]:
df_limpio.to_csv('ataques_limpio.csv')