In [60]:
import pandas as pd
import numpy as np

In [61]:
df=pd.read_csv('pandas/ataques.csv')

In [62]:
df.head()
df.shape

(6114, 16)

In [63]:
df_limpio= df.dropna()

¿Cuántas filas se han eliminado con esta línea de código?

In [82]:
df.shape

(6114, 16)

In [81]:
df_limpio.shape
#se han eliminado 4612 filas

(1502, 16)

¿Cuál es el número de ataques que se han producido en Estados Unidos?

In [85]:
df_limpio.columns

Index(['Unnamed: 0', 'unnamed:_0', 'case_number', 'year', 'type', 'country',
       'area', 'location', 'activity', 'name', 'sex_', 'age', 'time',
       'species_', 'href', 'case_number.2'],
      dtype='object')

In [95]:
df_limpio.head()
df_limpio['country'].unique()

array(['USA', 'BRAZIL', 'AUSTRALIA', 'ENGLAND', 'COSTA RICA', 'MALDIVES',
       'SOUTH AFRICA', 'CUBA', 'SPAIN', 'BAHAMAS', 'INDONESIA', 'EGYPT',
       'NEW ZEALAND', 'FRENCH POLYNESIA', 'NEW CALEDONIA', 'ECUADOR',
       'THAILAND', 'REUNION', 'MEXICO', 'JAMAICA', 'ITALY',
       'PAPUA NEW GUINEA', 'RUSSIA', 'SEYCHELLES', 'VIETNAM', 'GUAM',
       'MOZAMBIQUE', 'SCOTLAND', 'UNITED KINGDOM', 'TAIWAN', 'CROATIA',
       'FIJI', 'TONGA', 'ST. MAARTIN', 'GRAND CAYMAN', 'VANUATU',
       'VENEZUELA', 'TURKS & CAICOS', 'OKINAWA', 'MARSHALL ISLANDS',
       'MAURITIUS', 'HONG KONG', 'JAPAN', 'SOUTH KOREA', 'ISRAEL',
       'MICRONESIA', 'COLUMBIA', 'NEW BRITAIN', 'PALAU',
       'SOLOMON ISLANDS', 'FEDERATED STATES OF MICRONESIA', 'GREECE',
       'BRITISH WEST INDIES', 'NORTH PACIFIC OCEAN', 'BERMUDA',
       'PHILIPPINES', 'AMERICAN SAMOA', 'PACIFIC OCEAN', 'SENEGAL',
       'ARGENTINA', 'EL SALVADOR', 'IRAQ', 'PANAMA', 'INDIA'],
      dtype=object)

In [94]:
ataques_usa = df_limpio[df_limpio['country']=='USA']
ataques_usa.shape
#se han producido 719 ataques en USA

(719, 16)

Y en España?
3.1 ¿En qué regiones se han producido los ataques (columna location) ?
3.2 ¿Cuántos ataques se han producido en cada área (columna area?

In [97]:
ataques_spain = df_limpio[df_limpio['country']=='SPAIN']
ataques_spain.shape
#se han producido 5 ataques en España

(5, 16)

In [99]:
ataques_spain['location'].unique()

array(['Grao de Moncofa', 'Arenales del Sol', 'Poniente Beach, Benidorm',
       'Sardina del Norte, Gáldar', 'Playa de las Arenas, Valencia '],
      dtype=object)

In [100]:
ataques_spain.head()

,Unnamed: 0,unnamed:_0,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,case_number.2
98,98,98,2017.08.26.b,2017.0,Invalid,SPAIN,Castellón,Grao de Moncofa,Swimming,female,F,11,Midday,Shark involvement questionable,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.08.26.b
233,233,234,2016.07.29,2016.0,Unprovoked,SPAIN,Alicante Province,Arenales del Sol,Swimming,male,M,40,11h30,Blue shark,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.07.29
377,377,378,2015.08.18.a,2015.0,Invalid,SPAIN,Alicante,"Poniente Beach, Benidorm",Swimming,male,M,10,11h00,Shark involvement not confirmed,http://sharkattackfile.net/spreadsheets/pdf_di...,2015.08.18.a
1007,1007,1011,2010.07.16.b,2010.0,Provoked,SPAIN,Grand Canary Island,"Sardina del Norte, Gáldar",Swimming,male,M,9,19h15,Angel shark,http://sharkattackfile.net/spreadsheets/pdf_di...,2010.07.16.b
2469,2469,2476,1993.09.03,1993.0,Unprovoked,SPAIN,Costa Blanca,"Playa de las Arenas, Valencia",Swimming,Jorge Durich Heredia (or Hernandez),M,69,08h00,1.2 m [4'] shark,http://sharkattackfile.net/spreadsheets/pdf_di...,1993.09.03

In [102]:
ataques_spain['area'].value_counts()

Castellón              1
Alicante Province      1
Alicante               1
Grand Canary Island    1
Costa Blanca           1
Name: area, dtype: int64

4. Extraed un DataFrame nuevo con los ataques que se han producido en Australia y Estados Unidos. 📌 Nota Este ejercicio se puede resolver usando dos condiciones de filtrado o usando el método isin(). Hacedlo con ambas herramientas.

4.1 ¿Cuántos ataques se han producido en cada país?

4.2 ¿Ha habido ataques en Australia a gente que estuviera remando (lo encontrareis como Paddling en el DataFrame en la columna activity)?
4.3 ¿Cuántos ataques se han producido en Australia antes del 2000?

4.4 ¿Y después del 2000?

In [104]:
df_limpio[(df_limpio['country']=='USA')]& (df_limpio['country']=='AUSTRALIA'])

SyntaxError: closing parenthesis ']' does not match opening parenthesis '(' (1999213992.py, line 1)