Trabajaremos con tres ficheros diferentes:
- El csv que creamos en el ejercicio de pair programming Pandas IV
- El csv llamado attacks_historico donde tenemos información sobre los ataques de tiburón previos al año 1800, 
- El csv llamado attacks_adicional donde tenemos información sobre los ataques de tiburón. de nuevo,
El principal objetivo de este ejercicio de pair programming es acabar teniendo un único DataFrame con toda la información contenida en los tres csv anteriores.
Para llevar a cabo nuestro objetivo tendréis que seguir los siguientes pasos:

In [2]:
import pandas as pd
import numpy as np

1. Cargad los tres ficheros nombrados anteriormente y los exploramos para familizarizarnos con ellos y saber que información tienen en común y debatir con tu compañera como podríamos juntar toda la información.

In [9]:
df_limpio= pd.read_csv('ataques_limpio.csv')
df_adicional= pd.read_csv('attacks_adicional.csv')
df_historico= pd.read_csv('attacks_historico.csv')

2. Chequead que los nombres de las columnas ver si se llaman iguales entre dataframes . ¿Están todas en minúsculas? ¿Tienen espacios? En caso de que no sean todas iguales unificad el nombre de las columnas

In [10]:
df_historico.shape

(170, 22)

In [6]:
df_historico.columns

Index(['Unnamed: 0', 'Case Number', 'Year', 'Type', 'Country', 'Area',
       'Location', 'Activity', 'Name', 'Sex ', 'Age', 'Time', 'Species ',
       'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [7]:
df_limpio.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'unnamed:_0', 'case_number', 'year',
       'type', 'country', 'area', 'location', 'activity', 'name', 'sex_',
       'age', 'time', 'species_', 'href', 'case_number.2', 'siglo'],
      dtype='object')

In [8]:
df_adicional.columns

Index(['Unnamed: 0', 'Case Number', 'Fatal (Y/N)', 'Injury', 'Date'], dtype='object')

In [11]:
#unificamos nombre col
col_nuevas_df_historico= {col :  col.lower().replace(' ', '_') for col in df_historico.columns}
col_nuevas_df_adicional= {col :  col.lower().replace(' ', '_') for col in df_adicional.columns}

In [12]:
df_historico.rename(columns=col_nuevas_df_historico, inplace=True)

df_adicional.rename(columns=col_nuevas_df_adicional, inplace=True)

In [129]:
#comprobamos
df_historico.columns

Index(['unnamed:_0', 'case_number', 'year', 'type', 'country', 'area',
       'location', 'activity', 'name', 'sex_', 'age', 'time', 'species_',
       'investigator_or_source', 'pdf', 'href_formula', 'href',
       'case_number.1', 'case_number.2', 'original_order', 'unnamed:_22',
       'unnamed:_23'],
      dtype='object')

In [13]:
df_adicional.columns

Index(['unnamed:_0', 'case_number', 'fatal_(y/n)', 'injury', 'date'], dtype='object')

3. En este momento nos habremos dado cuenta que el DataFrame que generamos en el pair programming Pandas IV es similar al DataFrame de los datos historicos. Si recordamos, eliminamos algunas columnas en la sesión III que no eran útiles, pero esas columnas están todavía en el histórico. Si no fuera por eso podríamos unir esos dataframes. Realizad los cambios que creais necesarios para que los dataframes sean iguales y luego juntadlos usando el mejor método.

In [14]:
df_historico.drop (['unnamed:_22','unnamed:_23', 'case_number.1', 'original_order', 'investigator_or_source','pdf', 'href_formula'], axis=1, inplace=True)

In [15]:
df_historico.shape

(170, 15)

In [16]:
df_limpio.shape
#vemos que hay tres col de diferencia por lo que vamos a compararlas para ver si alguna es prescindible

(1502, 18)

In [133]:
df_limpio['Unnamed: 0'].unique

<bound method Series.unique of 0          0
1          6
2          8
3         10
4         13
        ...
1497    5528
1498    5631
1499    5667
1500    5797
1501    5905
Name: Unnamed: 0, Length: 1502, dtype: int64>

In [134]:
df_limpio['Unnamed: 0.1'].unique

<bound method Series.unique of 0          0
1          6
2          8
3         10
4         13
        ...
1497    5528
1498    5631
1499    5667
1500    5797
1501    5905
Name: Unnamed: 0.1, Length: 1502, dtype: int64>

In [135]:
df_limpio['unnamed:_0'].unique

<bound method Series.unique of 0          0
1          6
2          8
3         10
4         13
        ...
1497    5545
1498    5648
1499    5684
1500    5814
1501    5922
Name: unnamed:_0, Length: 1502, dtype: int64>

In [136]:
df_limpio['Unnamed: 0.1'][1497]

5528

In [137]:
df_limpio['unnamed:_0'][1497]

5545

In [138]:
df_limpio['Unnamed: 0'][1497]

5528

In [17]:
#conclusion: de las tres columnas que se llaman parecido solo dos son identicas asi que solo eliminamos una, eliminamos unnamed:0
df_limpio.drop (['Unnamed: 0'], axis=1, inplace=True)

In [19]:
#además por si acaso eliminamos duplicadas 
df_limpio.drop_duplicates(inplace=True)
df_limpio.head(1)

,Unnamed: 0.1,unnamed:_0,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,case_number.2,siglo
0,0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,SigloXXI

In [20]:
df_historico.head(1)

,unnamed:_0,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,case_number.2
0,6132,1800.00.00,1800.0,Unprovoked,SEYCHELLES,St. Anne,NaN,a corsair's boat was overturned,NaN,F,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,1800.00.00

In [21]:
df_limpio.head(1)

,Unnamed: 0.1,unnamed:_0,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,case_number.2,siglo
0,0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,SigloXXI

In [25]:
#los unimos con un concat
df_concat = pd.concat([df_limpio,df_historico], axis=0, join='outer',ignore_index=True)
df_concat.head(1)

,Unnamed: 0.1,unnamed:_0,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,case_number.2,siglo
0,0.0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,SigloXXI

In [26]:
#comprobamos dimensiones
print('- dimensiones de concat:', df_concat.shape,'-dimensiones historico:', df_historico.shape, '-dimensiones de limpio:', df_limpio.shape)

- dimensiones de concat: (1672, 17) -dimensiones historico: (170, 15) -dimensiones de limpio: (1502, 17)

3. Es el momento de unir la información de todos los ataques de tiburón que acabamos de crear con el DataFrame de información adicional. Debatid que método es el más correcto para unir toda esta información y ejecutadlo.
📌 NOTA Cuando hagáis la unión considerad que la información que más nos interesa es la del DataFrame que creamos en el apartado anterior, lo cual determinará el tipo de unión.

In [27]:
df_adicional.head(1)

,unnamed:_0,case_number,fatal_(y/n),injury,date
0,0,2018.06.25,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018

In [28]:

mergeado_izq = pd.merge(left=df_concat, right=df_adicional, how='left', on='case_number')

In [29]:
mergeado_izq.head(1)

,Unnamed: 0.1,unnamed:_0_x,case_number,year,type,country,area,location,activity,name,...,age,time,species_,href,case_number.2,siglo,unnamed:_0_y,fatal_(y/n),injury,date
0,0.0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,...,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,SigloXXI,0,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018

In [30]:

#comprobamos dimensiones
print('- dimensiones de mergeado:', mergeado_izq.shape,'- dimensiones concat:', df_concat.shape)

- dimensiones de mergeado: (1672, 21) - dimensiones concat: (1672, 17)

5. Guardad el dataframe nuevo en un csv que usaremos mañana en la clase de pair programming

In [32]:
mergeado_izq.to_csv ('DF_resultado_PandasV.csv')