Trabajaremos con tres ficheros diferentes:
- El csv que creamos en el ejercicio de pair programming Pandas IV
- El csv llamado attacks_historico donde tenemos información sobre los ataques de tiburón previos al año 1800, 
- El csv llamado attacks_adicional donde tenemos información sobre los ataques de tiburón. de nuevo,
El principal objetivo de este ejercicio de pair programming es acabar teniendo un único DataFrame con toda la información contenida en los tres csv anteriores.
Para llevar a cabo nuestro objetivo tendréis que seguir los siguientes pasos:

In [65]:
import pandas as pd
import numpy as np

1. Cargad los tres ficheros nombrados anteriormente y los exploramos para familizarizarnos con ellos y saber que información tienen en común y debatir con tu compañera como podríamos juntar toda la información.

In [66]:
df_ataques_limpio= pd.read_csv('ataques_limpio.csv')
df_ataques_adic= pd.read_csv('attacks_adicional.csv')
df_ataques_hist= pd.read_csv('attacks_historico.csv')

2. Chequead que los nombres de las columnas ver si se llaman iguales entre dataframes . ¿Están todas en minúsculas? ¿Tienen espacios? En caso de que no sean todas iguales unificad el nombre de las columnas

In [67]:
df_ataques_limpio.head(2)

,Unnamed: 0,Unnamed: 0.1,unnamed:_0,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,case_number.2,siglo
0,0,0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,SigloXXI
1,6,6,6,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.a,SigloXXI

In [68]:
df_ataques_limpio.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'unnamed:_0', 'case_number', 'year',
       'type', 'country', 'area', 'location', 'activity', 'name', 'sex_',
       'age', 'time', 'species_', 'href', 'case_number.2', 'siglo'],
      dtype='object')

In [69]:
df_ataques_hist.columns

Index(['Unnamed: 0', 'Case Number', 'Year', 'Type', 'Country', 'Area',
       'Location', 'Activity', 'Name', 'Sex ', 'Age', 'Time', 'Species ',
       'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [70]:
df_ataques_adic.columns

Index(['Unnamed: 0', 'Case Number', 'Fatal (Y/N)', 'Injury', 'Date'], dtype='object')

In [71]:
col_nueva_limpio = {col :  col.lower().replace(' ', '_') for col in df_ataques_limpio.columns}

In [72]:
df_ataques_limpio.rename (columns = col_nueva_limpio, inplace = True)
df_ataques_limpio.head(1)

,unnamed:_0,unnamed:_0.1,unnamed:_0,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,case_number.2,siglo
0,0,0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,SigloXXI

In [73]:
col_nueva_limpio1 = {col :  col.lower().replace(' ', '_') for col in df_ataques_adic.columns}
df_ataques_adic.rename (columns = col_nueva_limpio1, inplace = True)
df_ataques_adic.head(1)

,unnamed:_0,case_number,fatal_(y/n),injury,date
0,0,2018.06.25,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018

In [74]:
col_nueva_limpio2= {col :  col.lower().replace(' ', '_') for col in df_ataques_hist.columns}
df_ataques_hist.rename (columns = col_nueva_limpio2, inplace = True)
df_ataques_hist.head(1)

,unnamed:_0,case_number,year,type,country,area,location,activity,name,sex_,...,species_,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
0,6132,1800.00.00,1800.0,Unprovoked,SEYCHELLES,St. Anne,NaN,a corsair's boat was overturned,NaN,F,...,NaN,V. C. Harvey-Brain,1800.00.00-Corsair-boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1800.00.00,1800.00.00,171.0,NaN,NaN

3. En este momento nos habremos dado cuenta que el DataFrame que generamos en el pair programming Pandas IV es similar al DataFrame de los datos historicos. Si recordamos, eliminamos algunas columnas en la sesión III que no eran útiles, pero esas columnas están todavía en el histórico. Si no fuera por eso podríamos unir esos dataframes. Realizad los cambios que creais necesarios para que los dataframes sean iguales y luego juntadlos usando el mejor método.

In [78]:
df_ataques_limpio.shape

(1502, 18)

In [83]:
df_ataques_hist.shape

AttributeError: 'NoneType' object has no attribute 'shape'

In [82]:
df_ataques_hist.drop (['unnamed:_22','unnamed:_23', 'case_number.1', 'investigator_or_source','pdf', 'href_formula'], axis=1, inplace = True)

# intentamos la primera vez con todas las columnas y no daba error con 'original_order'. Por fin no salió bien sin original_order. Logo intentamos nuevamente sin original_order y nos ha dado error.

AttributeError: 'NoneType' object has no attribute 'drop'