In [1]:
import pandas as pd
import numpy as np
import pickle

In [ ]:
datos = pd.read_csv ("quejas.csv")

:

In [14]:
datos = pd.read_excel ("C:/Users/marta/Downloads/quejas2.xlsx")
datos.head()

        DESCRIPCION_TEMA                                DESCRIPCION_SUBTEMA
0  ATENCIÓN AL CIUDADANO                         ADMINISTRACIÓN ELECTRÓNICA
1  ATENCIÓN AL CIUDADANO                                    FUNCIÓN PÚBLICA
2  ATENCIÓN AL CIUDADANO  OFICINAS DE ATENCIÓN AL CIUDADANO DE LA COMUNI...
3  ATENCIÓN AL CIUDADANO     OFICINAS DE REGISTRO DE LA COMUNIDAD DE MADRID
4  ATENCIÓN AL CIUDADANO                                              OTROS

In [16]:
datos= pd.read_json("C:/Users/marta/Downloads/quejas.json")

datos.head()

                                                data
0  {'unidad_descripcion': 'D.G. de Descarbonizaci...
1  {'unidad_descripcion': 'D.G. de Descarbonizaci...
2  {'unidad_descripcion': 'D.G. de Descarbonizaci...
3  {'unidad_descripcion': 'D.G. de Descarbonizaci...
4  {'unidad_descripcion': 'D.G. de Descarbonizaci...

In [19]:
datos= pd.read_pickle ("C:/Users/marta/Downloads/algas.pickle")
datos.head ()

,Unnamed: 0,lon,lat,locality,year,month,kingdom,class,family,genus,species,new,state,country,fecha,day,number_ind
0,22,-70.7167,43.0750,New Castle,1900,5.0,Chromista,Phaeophyceae,Fucaceae,Fucus,Fucus vesiculosus,"43.075,-70.7167",New Hampshire,United States,1900-05-01,1,4
1,23,-70.7167,43.0750,New Castle,1900,5.0,Chromista,Phaeophyceae,Fucaceae,Fucus,Fucus vesiculosus,"43.075,-70.7167",New Hampshire,United States,1900-05-01,1,3
2,24,-70.7167,43.0750,New Castle,1900,5.0,Plantae,Florideophyceae,Palmariaceae,Palmaria,Palmaria palmata,"43.075,-70.7167",New Hampshire,United States,1900-05-01,1,9
3,33,-158.1170,21.5833,Haleiwa,1900,6.0,Plantae,Ulvophyceae,Ulvaceae,Ulva,Ulva lactuca,"21.5833,-158.117",Hawaii,United States,1900-06-01,1,7
4,35,-7.0000,62.1800,Hvalvík,1900,6.0,Chromista,Phaeophyceae,Alariaceae,Alaria,Alaria esculenta,"62.18,-7.0",Streymoyar sýsla,Føroyar,1900-06-01,1,4

In [27]:
pisa= pd.read_clipboard (sep='\t')
pisa.head(10)
pisa.to_csv ()# y como se guarda??

',Content Money and transactions 30-40% 25-35%\r\n0,Planning and managing finances 25-35% 20-30%\r\n1,Risk and reward 15-25% 20-30%\r\n2,Financial landscape 10-20% 15-25%\r\n3,Process Identify financial information 15-25% 15-25%\r\n4,Analyse financial information and situations 15-25% 25-35%\r\n5,Evaluate financial issues 25-35% 25-35%\r\n6,Apply financial knowledge and understanding 25-35% 15-25%\r\n7,Contexts Education and work 10-20% 10-20%\r\n8,Home and family 30-40% 30-40%\r\n9,Individual 35-45% 35-45%\r\n10,Societal 5-15% 5-15%\r\n'

In [ ]:
pisa2= pd.read_tmp